/************************************************************
 *  Stylesheet for TÆT PÅ DK
 ************************************************************/

/* GENERELLE NOTER:
    - Denne CSS-fil indeholder alle stilregler for TÆT PÅ DK's hjemmeside.
    - Har brugt kommentarer til at opdele sektioner og forklare hvad de forskellige css-styles gør.
    - Har forsøgt at bruge BEM (Block Element Modifier) som metodologi til navngivning af varianter af classes.
    - Farver, skrifttyper og andre designvalg er baseret på TÆT PÅ DK's styletile. Hvis der ikke var angivet noget i styletile, er valg blevet taget baseret på egne vurderinger for at nå et sammenhængende design til deadlinen.
    Kridhvid: #ffffff
    Sort: #000000
    Ben-hvid: #F6F3E9
    Skov-grøn: #324F3A
    Løv-grøn: #B6AF8C
    Gylden: #CEAF6A
    Himmel-blå: #728999
*/

/* --------------------------------------------------------
 - GENERELLE INDSTILLINGER FOR SIDEN
 ---------------------------------------------------------- */

/* Alt under * resetter universelle indstillinger. Bør bruges sparsomt. */

* {
  box-sizing: border-box;          /* Gør padding/border forudsigelige */
  margin: 0;                       /* Fjerner default margin */
}

/* Alt under html indstiller sidens adfærd  */
html {
  font-size: 125%;                 /* Justerer relativ tekstørrelse på al tekst fra ét sted */
  scroll-behavior: smooth;         /* Sikrer rolig scrolling til ankerlinks på siden */
}

/* Alt under body bestemmer standardindstillinger som sidens indhold skal arve automatisk  */
body {
  font-family: "Manrope", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* Skrifttype */
  line-height: 1.5;                /* Halvanden linjehøjde for god læsbarhed */
  color: #111111;                /* Sort som standard tekstfarve */
  background: #ffffff;           /* Kridhvid som standard baggrundsfarve */
}


/* --------------------------------------------------------
 - HEADER OG TOPNAVIGATION
 ---------------------------------------------------------- */

header {
  top: 0;                     /* Placering i toppen af siden. Muliggør sticky */
  position: sticky;           /* Holder header i toppen ved scroll */
  background: #F6F3E9;      /* Header baggrundsfarve: ben-hvid */
}
header a {
  color: inherit;                     /* Header link farve: Arver fra omgivende tekst */
  text-decoration: none;              /* Fjerner understregning af link */
}
header a:hover, header a:focus {
  text-decoration: underline;         /* Understreger link ved hover/fokus */
}
header ul {
  list-style: none;                   /* Fjerner standard punktopstilling */
  text-align: center;                 /* Centrerer menupunkterne */
}

 .top-nav {
  display: flex;                 /* Lægger logo til (venstre) og burger (højre) på samme række */
  padding: 1rem 1rem;            /* Tilføjer lidt indre luft i alle sider af headeren */
}
.top-nav li {
  margin: .5rem 0;               /* Justerer luft mellem menupunkterne */
}
.top-nav__logo {
  width: 40px;                   /* Fast bredde på logo */
  height: 40px;                  /* Fast højde på logo */
}
.burger-details{
  margin-left: auto;             /* Skubber burgerikonet helt til højre */
}

.burger-details[open] ul{   
  width: 100vw;                       /* Fylder hele viewport width */
  margin-inline: calc(100% - 100vw);  /* Holder burgerikonet til højre, når burger åbnes og åbner menu nedender */
  padding-top: 1.5rem;                /* Tilføjer lidt luft over menupunkterne */
  padding-bottom: 0.5rem;             /* Tilføjer lidt luft under menupunkterne */
}

.burger-summary{
  cursor: pointer;            /* Viser at burgeren er klikbar ved at ændre cursor på desktop */
  font-size: 2rem;            /* Burgerikonets størrelse */
  line-height: 0.8;           /* Mindsker luft omkring ikonet */
  display: block;             /* Fjerner standard trekantikon */
}
.burger-summary::-webkit-details-marker { display: none; } /* Skjuler standard trekantikon */

/* Justerer scroll-margin, så header ikke dækker indhold, når man klikker på ankerlinks */
#oplevelser, #ophold, #tilbud { scroll-margin-top: 80px; }


/* --------------------------------------------------------
 - TEKST
 ---------------------------------------------------------- */

/* Indstillinger for overskrifter */
h1, h2, h3, h4, h5, h6{
  font-weight: 700; /* Gør teksten fed */
  margin: 0.8rem 0; /* Tilføjer lidt luft før og efter */
}

/* Indstillinger for brødtekst */
p, li{
  margin: 0.8rem 0;          /* Tilføjer lidt luft før og efter */
}

/* Indstillinger for links */
a {
  color: inherit;            /* Arver farve fra omgivende tekst */
}
a:hover, a:focus {
  text-decoration: none;     /* Fjerner understregning af link ved hover/fokus  */
}

/* Bryd meget lange ord op, hvis de fylder mere end deres containers bredde */
p, li, h1, h2, h3, h4, h5, h6, a{
  overflow-wrap: anywhere; 
  
}

/* --------------------------------------------------------
 - BILLEDER
 ---------------------------------------------------------- */

img{  
  max-width: 100%;        /* Regel: Et billede må maks fylde 100% af dens containers bredde */
  height: auto;           /* bevar proportioner */
  display: block;         /* undgå inline-gap under img */
}

/* --------------------------------------------------------
 - KNAPPER
 ---------------------------------------------------------- */

 /* KNAPPER */
.knap { /* Normal tilstand */
  background-color: #F6F3E9;      /* Baggrundsfarve på knap: ben-hvid */
  color: #324F3A;                 /* Knap tekstfarve: skov-grøn */
  border: 1px solid transparent;    /* Kant på knap */
  border-color: #324F3A;          /* Kant-farve: skov-grøn */
  text-decoration: none;            /* Fjerner understregning af teksten på links */
  display: inline-block;            /* Gør at knap kan have bredde og højde */
  padding: .75rem 1rem;             /* Afstand inde i knap, top/bund og venstre/højre */
  border-radius: .5rem;             /* Afrundede hjørner på knap */
}
.knap:hover, .knap:focus, .knap:active {  /* Aktiv tilstand */
  background-color: #B6AF8C;      /* Baggrundsfarve på knap: himmel-blå */
  color: #000000;                 /* Knap tekstfarve: kridhvid */
  border-color: #B6AF8C;          /* Kant-farve: himmel-blå */
} 

 /* CTA-KNAPPER */
.knap--cta { /* Normal tilstand */
  background-color: #324F3A;      /* Baggrundsfarve på knap: skov-grøn */
  color: #ffffff;                 /* Knap tekstfarve: kridhvid */
  border: 1px solid transparent;    /* Kant på knap */
  border-color: #324F3A;          /* Kant-farve: skov-grøn */
  text-decoration: none;            /* Fjerner understregning af teksten på links */
  display: inline-block;            /* Gør at knap kan have bredde og højde */
  padding: .75rem 1rem;             /* Afstand inde i knap, top/bund og venstre/højre */
  border-radius: .5rem;             /* Afrundede hjørner på knap */
}
.knap--cta:hover, .knap--cta:focus, .knap--cta:active {  /* Aktiv tilstand */
  background-color: #B6AF8C;      /* Baggrundsfarve på knap: løv-grøn */
  color: #000000;                 /* Knap tekstfarve: sort */
  border-color: #B6AF8C;          /* Kant-farve: løv-grøn */
} 

/* --------------------------------------------------------
 - BEHOLDERE: SEKTIONER, KOLONNER OG PRODUCT CARDS
 ---------------------------------------------------------- */

/* Sektion: Sætter en max bredde for sektioner */
.sektion{
  width: min(100%, 1200px);   /* Maks 1200px, ellers 100% */
  margin-inline: auto;        /* Centrerer sektion */
  padding: 2rem 1rem;         /* Luft over og under sektion */
}
.sektion--tekst{
  width: min(100%, 900px);   /* Maks 900px, ellers 100% */
  margin-inline: auto;        /* Centrerer sektion */
  padding: 2rem 1rem;         /* Luft over og under sektion */
}
.sektion--hero{
  width: min(100%, 900px);   /* Maks 900px, ellers 100% */
  margin-inline: auto;        /* Centrerer sektion */
  padding: 1rem 1rem;         /* Luft over og under sektion */
}

.sektion__cta{ margin-top: 1rem; text-align: center; }   /* Centrerer CTA-knap i bunden af sektioner */   

/* Kolonner: Lav 1 kolonne på mobil, men 3 på desktop */
.kolonner{
  display: grid;                        /* Aktiverer grid */
  grid-template-columns: 1fr;           /* 1 kolonne som standard (som er mobil) */
  gap: 1rem;                            /* Afstand mellem elementer */
}
@media (min-width: 768px) {             /* Regel: Juster ved skærmbredde på mindst 768px */
  .kolonner{
    grid-template-columns: repeat(3, 1fr);  /* 3 kolonner på desktop */
    gap: 2rem;}                             /* Vandret og lodret afstand mellem kolonnerne */
}

/* Product cards: til at vise tilbud som separate produkter */
.product-card{
  background: #F6F3E9;        /* Baggrundsfarve: ben-hvid */
  border: 1px solid #B6AF8C;  /* Kant-farve: løv-grøn */
  border-radius: .5rem;         /* Afrundede hjørner */
  padding: 1rem;                /* Indvendig afstand */
  text-align: center;           /* Centrerer inhold */
}
.product-card img{
  width: 100%;             /* Sørger for at billedet fylder hele bredden af product card */
  aspect-ratio: 4 / 3;     /* Sørger for ens højde-bredde-forhold på billeder i card */
  object-fit: cover;       /* Sørger for at billeder ikke bliver forvrænget, når de tilpasses */
  border-radius: .5rem;    /* Giver billederne afrundede hjørner */
}


/* --------------------------------------------------------
 - HERO
 ---------------------------------------------------------- */

.hero{
  
  background-size: cover;                   /* Dækker hele området m. baggrunden */
  background-position: center;              /* Centrer baggrund */
  background-color: rgba(0, 0, 0, 0.5);   /* Sætter baggrund til 50% sort */
  background-blend-mode: multiply;          /* Blender baggrundsfarven med baggrundsbilledet */
  min-height: 70vh;              /* Sætter minimumhøjde på hero til 70% af viewport */
  display: flex;                 /* Gør hero til flex-container og muliggør positionering */
  align-items: center;           /* Vertikal centrering af indhold */
  justify-content: center;       /* Horisontal centrering af indhold */
  text-align: center;            /* Centrerer tekst inde i hero */
}
.hero h1{
  color: #ffffff;              /* Overskrift farve: kridhvid */
  font-weight: 900;              /* Gør teksten tyk */
  font-size: 3rem;               /* Tekststørrelse på overskrift i hero */
}
.hero p{
  color: #F6F3E9;              /* Ben-hvid brødtekst */;
  font-weight: 500;              /* Gør teksten tyk */
  font-size: 1.25rem;            /* Tekststørrelse på brødtekst i hero */
}

/* Knap-gruppe i hero */
.hero__ctas{
  display: flex;                 /* Gør knap-gruppe til flex-containe og muliggør positionering */
  justify-content: center;       /* Centrerer knapperne */
  gap: .75rem;                   /* Afstand mellem knapperne */
  flex-wrap: wrap;               /* Tillader knapper at bryde til ny linje på mindre skærme */
  margin: 1.5rem 0;              /* Luft over og under knap-gruppen */
}

 /* --------------------------------------------------------
 - PRISLINJE
 ---------------------------------------------------------- */

.prislinje{
  background: #324F3A;          /* Baggrundsfarve: skov-grøn */
  color: #ffffff;               /* Tekstfarve: hvid, for kontrast */
  text-align: center;             /* center indhold på mobil */
}

.prislinje p{
  color: #F6F3E9;              /* Ben-hvid brødtekst */;
  font-weight: 500;              /* Gør teksten tyk */
  font-size: 1.25rem;            /* Tekststørrelse på brødtekst i hero */
  margin: 0 0 .5rem;             /* Justerer margin i prissektion */
}

@media (min-width: 768px){  /* På laptop: Vis pris og knap i én række med luft imellem */
  .prislinje > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    text-align: left;}
}


 /* --------------------------------------------------------
 - GALLERI
 ---------------------------------------------------------- */

/* Selve galleriet (styling af listewrapper ul) */
.galleri ul{
  list-style: none;                    /* Fjern punktopstilling */
  display: flex;                       /* Muliggør positionering */
  gap: .75rem;                         /* Afstand mellem billeder */
  overflow-x: auto;                    /* Gør listen vandret scroll-bar */
  -webkit-overflow-scrolling: touch;   /* Swipe på iOS */
}

/* Tilpas billedstørrelse til skæm */
.galleri ul li{
  flex: 0 0 80%;            /* Mobil: vis ét stort billede ad gangen (ca. 80% af bredden) */
  scroll-snap-align: start; /* Starter billedgalleri ved starten af første billede */
}
@media (min-width: 768px){
  .galleri ul li{
      flex: 0 0 30%;        /* Desktop: Viser 3-4 ad gangen (ca. 30% af bredden) */
  }
}

/* Billedformatering */
.galleri img{
  width: 100%;          /* Fyld ud til 100% i bredden */
  aspect-ratio: 4 / 3;  /* Sørger for ens højde-bredde-forhold */
  object-fit: cover;    /* Udfyld billedrammen uden at forvrænge billedet */
  border-radius: .5rem; /* Bløde hjørner på billeder */
}


 /* --------------------------------------------------------
 - ANMELDELSER
 ---------------------------------------------------------- */
 
.anmeldelser{
  background: #F6F3E9;          /* Baggrundsfarve: skov-grøn */
  
}

/* Styling af card med anmeldelse */
.anmeldelser figure{
  padding: 1rem;                /* Tilføjer luft */
  border: 1px solid #B6AF8C;
  border-radius: .5rem;
  background: #Fff;
}

/* Putter anmelders billede + navn/dato på én linje */
.anmeldelser figcaption{
  display: flex;
  align-items: center;
  gap: .5rem;
  color: #324F3A;
}

/* Indstillinger for anmelders billede */
.anmeldelser figcaption img{
  width: 40px; height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

  
 /* --------------------------------------------------------
 - FOOTER OG SLUTNAVIGATION
 ---------------------------------------------------------- */

.footer {
  background: #F6F3E9; /* Footer farve: ben-hvid */
  color: #111111;      /* Footer tekst farve: sort */
  padding: 2rem 1rem;    /* Luft over og under footer */
  text-align: center;    /* Centrerer tekst i footer */
}
.footer a {
  color: inherit;           /* Footer link farve: arver fra omgivende tekst */
  text-decoration: none;    /* Fjerner understregning af link */
}
.footer a:hover, .footer a:focus {
  text-decoration: underline; /* Understreger link ved hover/fokus */
}
.footer ul {
  list-style: none;          /* Fjerner standard punktopstilling */
  margin: 0;                 /* Fjern default margins */
  padding: 0;                /* Fjern left indent så centrering ser rigtigt ud */
}
.footer ul li {
  margin: 0 0;               /* Bestemmer luft mellem listeelementer */
}
.footer h2 {
  font-size: 1.1rem;         /* Størrelse på overskrift i footer */
  margin-bottom: 1rem;       /* Luft under overskrift i footer */
}
.footer address{ 
  font-style: normal;         /* Fjerner kursiv på address element */
}



